<div class="recentPastes">
  <div>
    <div id="featuredPaste1" class="fpaste">{{1}}</div>
    <i class="fa-solid fa-circle-user"></i>
    <i class="fa-brands fa-discord" id="discord"></i>
    <i class="fa-solid fa-comment"></i>
  </div>
  <div>
    <div id="featuredPaste2" class="fpaste">{{2}}</div>
    <i class="fa-solid fa-user-large-slash"></i>
    <i class="fa-solid fa-comment"></i>
  </div>
  <div>
    <div id="featuredPaste3" class="fpaste">{{3}}</div>
    <i class="fa-solid fa-user-large-slash"></i>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>
